.leftsidebar{
    position: fixed;
    bottom: 0;
    left: 0px;
    top: 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 0 15px rgba(0,0,0,0.15);
}

/* Hide default arrow */
summary::-webkit-details-marker {
    display: none;
}

/* Hide the default arrow (Firefox) */
  details > summary::marker { content: ""; }

  summary {
    color: rgb(2, 103, 255);
    font-weight: bold;
    font-size: 30px;
    font-family: Arial;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
  }

.sidebar-link{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    width: 300px;
    height: 50px;
}

@media (max-width: 860px) {
    .sidebar-link{
        opacity: 0;
    }
}

.sidebar-link:hover{
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
}

.sidebar-link div{
    margin-left: 10px;
    font-weight: 500;
}

.dp-leftsidebar{
    height: 28px;
    width: 28px;
    border-radius: 14px;
}

.friends-leftsidebar{
    height: 28px;
    width: 28px;
}